<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.swangya.ubs">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".welcomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ForgotPassword" />
        <activity android:name=".Register" />
        <activity
            android:name=".HomeScreen"
            android:label="Home" />
        <activity android:name=".ClubAndOrganization" />
        <activity android:name=".Club" />
        <activity android:name=".CampResources" />
        <activity
            android:name=".Club_2100"
            android:label="@string/title_activity_club_2100"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ACollectionOfBrothers" />
        <activity android:name=".Access" />
        <activity android:name=".AccountingSociety" />
        <activity android:name=".ActuarialScienceClub" />
        <activity android:name=".AdvertisingLeagueOfTexasAtArlington" />
        <activity android:name=".AeroMavericks" />
        <activity android:name=".CreateClub" />
        <activity android:name=".LinuxUser" />
        <activity android:name=".AIGA" />
        <activity android:name=".ArtHistoryStudentUnion" />
        <activity android:name=".Focus" />
        <activity android:name=".AITP" />
        <activity android:name=".readPost" />
        <activity android:name=".writePost" />
        <activity android:name=".marketoptions" />
        <activity android:name=".sellscreen" />
        <activity android:name=".Adv" />
        <activity android:name=".market"></activity>
    </application>

</manifest>